---
import BaseLayout from '../layouts/base_layout.astro'
import '../styles/global.css'

const pageTitle = 'Home Page'
---

<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
</BaseLayout>